************************************************************
*                                                          *
* DRILL TAPE SUMMARY REPORT                                *
*                                                          *
* D:\STUDY\ORCAD\SEMI 5\UPDATED\GASLEVELSENSUPDATED-1.MAX  *
* Sat Jun 18 18:19:23 2016                                 *
*                                                          *
************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      2        200      100                                                                                 
T2       310      16       200      100                                                                                 
T3       340      28       200      100                                                                                 
T4       370      24       200      100                                                                                 
T5       390      3        200      100                                                                                 
T6       420      11       200      100                                                                                 
T7       1100     4        200      100                                                                                 
